/* Login.module.css */
.authCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    background-color: #f9f9f9;
    padding: 40px 20px;
    border-radius: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    min-height: 500px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Orbitron', Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
    background: linear-gradient(135deg, #2090FF 0%, #5454FE 33%, #853FF6 66%, #FD4CCC 83%, #F75252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    line-height: 1;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.field label {
    font-size: 12px;
    color: #555;
    margin-bottom: 8px;
}

.field input {
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    background-color: #361950;
    color: white;
    box-sizing: border-box;
}

.passwordWrapper {
    position: relative;
}

.passwordWrapper input {
    padding-right: 30px;
}

.eyeBtn {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 4px;
}

.buttonsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    gap: 5px; /* Зменшено gap */
}

.submitBtn {
    padding: 8px 10px; /* Зменшено padding */
    font-size: 12px; /* Зменшено шрифт */
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #5454FE;
    color: white;
    width: 25%; /* Ще менша ширина */
    white-space: nowrap;
}

.forgotPassword {
    color: #555;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    text-align: right;
    margin-right: 10px; /* Зсув ліворуч */
}

.whiteLine {
    width: 200%;
    height: 2px;
    background-color: white;
    margin: 30px -50% 25px -50%;
}

.switchFormBtn {
    background: none;
    border: none;
    color: #5454FE;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    padding: 12px;
}

.blackLine {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 15px;
}