/* Login.module.css */
.authCard {
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 527px;
    background-color: #f9f9f9;
    padding: 40px 30px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    opacity: 1;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Orbitron', Arial, sans-serif;
    font-weight: 700;
    font-size: 42px;
    background: linear-gradient(110.32deg, #2090FF 11.04%, #5454FE 25.37%, #853FF6 38.57%, #FD4CCC 58.79%, #F75252 84.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    line-height: 97%;
    letter-spacing: -2%;
    width: 320px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Контейнер для полей ввода под логотипом */
.fieldsContainer {
    width: 319px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.field label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

.field input {
    width: 319px;
    height: 39px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background-color: #361950;
    color: white;
    box-sizing: border-box;
}

.passwordWrapper {
    position: relative;
}

.passwordWrapper input {
    padding-right: 40px;
}

.eyeBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px;
}

.buttonsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap: 10px;
    width: 319px;
}

.submitBtn {
    width: 70px;
    height: 39px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #5454FE;
    color: white;
    white-space: nowrap;
    border-bottom: 1px solid;
}

.forgotPassword {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: pointer;
    white-space: nowrap;
    text-align: right;
    width: 173px;
    height: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

/* Контейнер для нижней части с чертой и кнопкой */
.bottomContainer {
    width: 319px;
}

.switchFormBtn {
    background: none;
    border: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-top: 0;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
}

/* Чёрная чёрточка над кнопкой Create account */
.separator {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 0;
}

/* Убрал все лишние линии */
.whiteLine,
.blackLine {
    display: none;
}