.artCard {
    background: linear-gradient(rgba(70, 70, 71, 0.6), rgba(70, 70, 71, 0.6)) padding-box,
    linear-gradient(168deg, rgba(89, 92, 100, 1), rgba(71, 77, 95, 0.44)) border-box;
    background-clip: padding-box, border-box;
    border: 3px solid transparent;
    border-radius: 12px;
    /*display: flex;*/
    /*flex-direction: column;*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    aspect-ratio: 212 / 329;
}

.artCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.artCardImage {
    height: 65%;
    background-size: cover;
    background-position: center;
    margin: 16px 16px 0 16px;
    border-radius: 8px;
}

.artCardInfo {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    padding: 16px;
}

.cardRow {
    display: flex;
    justify-content: space-between;
    /* ОНОВЛЕНО: Вирівнювання по верхньому краю для кращої відповідності дизайну */
    align-items: flex-start;
}

/* ОНОВЛЕНО: Стилі для тайтлу */
/* ОНОВЛЕНО: Стилі для тайтлу */
.artCardTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 165px;
    display: block;
}

.artistInfo {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
}

/* ОНОВЛЕНО: Стилі для імені художника */
.artistName {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1; /* 100% */
}

.artistStyle {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
    display: none;
}

/* ОНОВЛЕНО: Стилі для кількості вподобань */
.artCardLikes {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1; /* 100% */
}

/* ОНОВЛЕНО: Стилі для ціни */
.artCardPrice {
    display: flex;
    align-items: center;
    gap: 6px; /* Відступ для іконки */
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px; /* Округлено з 13.93px */
    line-height: 1; /* 100% */
}