/* Register.module.css */
.authCard {
    display: flex;
    flex-direction: column;
    max-width: 443px;
    /*height: 527px;*/
    background-color: #f9f9f9;
    padding: 44px 62px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    opacity: 1;
    box-sizing: border-box;
    /*align-items: center;*/
}

.mainTitle {
    font-size: 22px;
    color: #333;
    text-align: left;
    margin-bottom: 33px;
    margin-top: 0;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    /*width: 216px;*/
    /*height: 26px;*/
}

.emailTitle {
    font-size: 14px;
    color: #000000;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 0;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
}

.field label {
    color: #000000;
    margin-bottom: 8px;
    font-weight: 400;
}

.field input {
    width: 100%;
    height: 39px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background-color: #361950;
    color: white;
    box-sizing: border-box;
}

.field input[type="date"]:invalid {
    color: transparent;
}

.field input[type="date"]:valid {
    color: white;
}

.field input[type="date"] {
    position: relative;
    cursor: pointer;
}

.field input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.passwordWrapper {
    position: relative;
}

.passwordWrapper input {
    padding-right: 40px;
}

.eyeBtn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px;
}

.buttonsRow {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    gap: 145px;
    margin-top: 22px;
}

.submitBtn {
    /*width: 70px;*/
    height: 39px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #5454FE;
    color: white;
    white-space: nowrap;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}

.submitBtn:active {
    transform: scale(0.95);
}

.backBtn {
    width: 104px;
    height: 39px;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #5454FE;
    color: white;
    white-space: nowrap;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}

.backBtn:active {
    transform: scale(0.95);
}

/* Стили для второго шага */
.codeInput {
    width: 100%;
    height: 39px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    background-color: #361950;
    color: white;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
}